<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

  <appSettings>
    <!--Debug : 디버그 모드에서는 SMS를 보내지 않는 기능 Y:SMS 전송 X / N:SMS 전송 O-->
    <add key="Debug" value="Y"/>
    
    <!--SearchDrive : 띄어쓰기 없이 | 로 파일 체크할 드라이브 구분-->
    <add key="SearchDrive" value="D:\"/>
    
    <add key="HostName" value="SERVERHOSTNAME"/>
    
    <add key="SMSKey" value="8C5273CC68C648EEB1CCA795C74A548B"/>
    
    <add key="SMSUrl" value="http://api-dev.flux.com/Message/SendLMS"/>
    
    <!--ExceptionWord : 띄어쓰기 없이 | 로 단어 구분하여 추가-->
    <add key="ExceptionWord" value="windows|system volume information|log|FileWatchInfo"/>
    
    <!--PhoneNum : 띄어쓰기 없이 | 로 전화번호 추가-->
    <!--add key="PhoneNum" value="010XXXX1234" /-->
    <add key="PhoneNum" value="010XXXX1234|010XXXX1234"/>

    <add key="CallBackNum" value="010XXXX1234"/>
    
    <add key="PartCode" value="T"/>

    <!--파일을 복사 및 이동할 폴더 설정값-->
    <add key="CopyFolder" value="FileWatchInfo/FileWatcherCreateFile"/>

    <!--Create이벤트 발생시 처리 값 (Move, Copy, None) -->
    <add key="CreateStatus" value="None"/>
  </appSettings>
  
</configuration>
